h1{
  margin: auto;
}

.col-sm {
    padding-top: 25px;
}

.navbar-brand {
    margin: auto;
}

.navbar-brand > img {
    margin: auto;
    padding-bottom: 5px;
}

.footer {
	text-align: center;
	margin-top: 60px;
}

#loading-indicator{
	position: absolute;
  left: 49%;
	top: 50%;
}
